@import 'https://fonts.googleapis.com/css?family=Quicksand';
@import 'https://fonts.googleapis.com/css?family=Montserrat';

@font-face {
    font-family: 'AvianBold';
    src: url(fonts/AvianBold.ttf);
}

@font-face {
    font-family: 'Avian';
    src: url(fonts/avian.ttf);
}

/* GENERAL STYLES */
a {
    outline: none;
}

.wrapper {
    overflow: hidden;
    margin-top: 80px;
}

.vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}

.spacing {
    padding: 100px 10px;
}

.light-spacing {
    padding: 50px 10px;
}

.heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    padding: 10px 15px;
    display: inline-block;
    margin-bottom: 40px;
}

.text {
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
    font-weight: 600;
    line-height: 30px;
    color: #7c7d7d;
}

.heading.blue {
    border: 1px solid #24356a;
}

.heading.white {
    border: 1px solid #fff;
}

.heading.red {
    border: 1px solid #bb1112;
}

.white {
    color: #fff;
}

.blue {
    color: #24356a;;
}

.red {
    color: #bb1112;;
}

.no-margin {
    margin: 0;
}


/* NAVBAR */
.navbar {
    min-height: 80px;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 0;
}

.navbar .email-icon {
    margin-right: 10px;
}

.navbar-brand {
    padding-top: 0;
}

.navbar-brand img {
    margin-top: 2px;
    width: 200px;
    padding: 8px;
}

.navbar .navbar-nav {
    height: 80px;
    float: none;
    display: inline-block;
    vertical-align: top;
}

.navbar .top-logo img {
    position: relative;
    padding: 5px;
    height: 50px;
    top: 20%;
}

.navbar .container-fluid {
    max-width: 1170px;
}

.navbar-nav {
    text-align: center;
}

.navbar-nav > li {
    height: 80px;
    vertical-align: middle;
}

.navbar-nav > li > a {
    padding: 5px 10px;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    display: block;
    color: #103271!important;
    border: 1px solid transparent;
    -webkit-transition: color 300ms ease, border 300ms ease;
    -moz-transition: color 300ms ease, border 300ms ease;
    transition: color 300ms ease, border 300ms ease;
}

.navbar-nav .email-icon::after {
    background-size: contain!important;
    position: absolute;
    display: block;
    content: '';
    height: 20px;
    width: 20px;
    right: -20px;
    top: 20%;
}

.navbar-nav .email-icon::after {
    background: url(img/icons/mail.png) no-repeat center center;
}

.navbar-nav > li.active > a,
.navbar-nav > li:hover > a {
    background-color: transparent!important;
    color: #c1181a!important;
}

.navbar-nav > li.active > a {
    border: 1px solid #c1181a;
}

/* BANNER */
.index .banner {
    background: url(img/banner/1.jpg) no-repeat center center;
    background-size: cover;
}

.index .banner .container {
    height: 100vh;
}

.index .banner .logo {
    margin-bottom: 40px;
    max-width: 100%;
}

.index .banner h1 {
    font-family: 'AvianBold', sans-serif;
    font-size: 50px;
    margin-top: 0;
}

.index .banner h3 {
    font-family: 'Avian', sans-serif;
    font-size: 24px;
}

/* CONOCENOS */
.index .conocenos .text {
    max-width: 730px;
    margin: 0 auto;
}

.index .conocenos .divider {
    border-bottom: 1px solid #24356a;
    margin: 0 auto;
    max-width: 930px;
    margin-top: 50px;
}

/* AFILIADOS */
.index .afiliados div[class*=col-] {
    padding: 15px 10px;
}

.index .afiliados .bottom-note {
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
    font-weight: 700;
    text-shadow: 0 1px 0;
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 1px solid #bb1113;
}

/* SERVICIOS */

.index .servicios .img-container {
    max-width: 272px;
    margin: 0 auto;
    height: 250px;
    padding-left: 15px;
    padding-right: 15px;
}

.index .servicios .img-container,
.index .servicios .img-container img,
.index .servicios p {
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
}

.index .servicios .img-container img {
    margin-bottom: 10px;
}

.index .servicios img.hover {
    position: absolute;
    top: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    opacity: 0;
    -webkit-transform: translateZ(0);
}

.index .servicios p {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}

.index .servicios .img-container:hover {
    background-color: rgba(255, 255, 255, 0.76);
}

.index .servicios .img-container:hover p {
    color: #24356a;
}

.index .servicios .img-container:hover img.hover {
    opacity: 1;
}

/* BLOG */
.index .blog .carousel-control {
    background-image: none;
    width: 50px;
}

.index .blog .carousel-control.left {
    left: -50px;
}

.index .blog .carousel-control.right {
    right: -50px;
}

.index .blog .carousel-control.left::after,
.index .blog .carousel-control.right::after {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.index .blog .carousel-control.left::after {
    content: url(img/blog/left-arrow.png);
}

.index .blog .carousel-control.right::after {
    content: url(img/blog/right-arrow.png);
}

.index .blog .carousel-caption {
    position: relative;
    left: 0;
    right: 0;
    bottom: auto;
    text-align: left;
    text-shadow: none;
    font-family: 'Quicksand', sans-serif;
    line-height: 24px;
}

.index .blog div[class*=col-] {
    padding: 5px;
}

.index .blog .img-container {
    overflow: hidden;
    width: 100%;
    height: 270px;
    position: relative;
}

.index .blog .img-container img {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    max-width: none;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.index .blog .post-date {
    padding: 5px 0px;
    display: inline-block;
    min-width: 120px;
    background-color: #24356a;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    margin: 10px 0;
}

.index .blog .post-title {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 10px;;
}

.index .blog .post-title a {
    text-decoration: none!important;
    color: inherit!important;
}

.index .blog .post-excerpt {
    font-size: 18px;
}

/* CONTACTO */
.index .contacto {
    background: url(img/contacto/bg.png) no-repeat center center;
    background-size: cover;
}

.index .contacto .col-sm-6:first-child {
    padding-left: 0;
}

.index .contacto .col-sm-6:nth-child(2) {
    padding-right: 0;
}

.index .contacto input[type=text],
.index .contacto input[type=email],
.index .contacto select,
.index .contacto textarea {
    border: 1px solid #24356a;
    margin-bottom: 15px;
    width: 100%;
    min-height: 45px;
    padding-left: 15px;
    background-color: transparent;
    font-size: 15px;
}

::-webkit-input-placeholder {
    color: rgba(20,49,82,.8);
}

:-moz-placeholder { /* Firefox 18- */
    color: rgba(20,49,82,.8);  
}

::-moz-placeholder {  /* Firefox 19+ */
    color: rgba(20,49,82,.8);  
}

:-ms-input-placeholder {  
    color: rgba(20,49,82,.8);  
}

.index .contacto input,
.index .contacto textarea,
.index .contacto select {
    font-family: 'Montserrat', sans-serif;
    outline: none;
}

.index .contacto select {
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    font-weight: 400;
    min-height: auto;
    padding-top: 11px;
    padding-bottom: 11px;
    margin-bottom: 0;
}

select::-ms-expand {
    display: none;
}

select:-moz-focusring { 
    color: transparent;
    text-shadow: 0 0 0 #000; 
}

.index .contacto label {
    position: relative;
    display: inherit;
    margin: 0;
    margin-bottom: 15px;
}

.index .contacto label::after {
    content: '';
    background: url(img/icons/select.png)no-repeat center center;
    background-size: cover;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 15px;
    width: 15px;
    height: 8.25px;
    pointer-events: none;
}

.index .contacto textarea {
    padding-top: 10px;
    resize: none;
}

.index .contacto input[type=submit] {
    border: 0;
    height: 38px;
    width: 92px;
    border-radius: 10px;
    background-color: #24356a;
    color: #fdfdfd;
}

.index .contacto .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.index .contacto .row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.index .contacto .container .contact-form {
    position: relative;
}

.index .contacto .container .contact-form::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: -60%;
    height: 1px;
    width: 100%;
    background-color: #24356a;
}

.index .contacto p {
    margin: 0;
    font-size: 16px;
}

.index .contacto p.city {
    font-weight: 700;
    position: relative;
}

.index .contacto p>a {
    color: #24356a;
    text-decoration: none!important;
}

.index .contacto p.city::before {
    content: '';
    display: block;
    background: url(img/icons/marker.png) no-repeat center center;
    background-size: contain;
    position: absolute;
    top: 2px;
    left: -20px;
    height: 18px;
    width: 18px;
}

.index .contacto .text-right a {
    display: inline-block;
    width: 45px;
    height: 45px;
}

.index .contacto .text-right img {
    width: 100%;
}

.index .contacto .col-xs-5 {
    margin-top: 20px;
}

/* FOOTER */
footer .footer-top {
    padding: 40px 0;
}

.footer-rights {
    background-color: rgba(33, 33, 33, 0.78);
}

.footer-rights p {
    margin: 0;
    padding: 10px 0;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 14px;
}

.footer-rights a {
    color: #e3e3e3;
    text-decoration: none!important;
}

.footer-rights a:hover,
.footer-rights a:focus {
    color: #d3d3d3;
}

/* MAPA */
.googleMap {
    height: 350px;
}












/* FORO */
/* BANNER */
.helper {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.foro .banner .carousel-inner {
    height: calc(100vh - 80px);
    padding: 0;
}

.foro .banner .carousel-inner .item {
    overflow: hidden;
}

.foro .banner .carousel-inner img {
    position: relative;
    min-height: 100%;
    min-width: 100%;
    max-width: none;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

.foro .banner .carousel-caption {
    bottom: auto;
    left: 0;
    right: 0;
    position: relative;
}

.foro .banner .carousel-indicators {

}

.foro .banner .carousel-indicators li {
    height: 22px;
    width: 22px;
    margin: 0 3px;
}


/* CONOCE */
.foro .conoce {
    position: relative;
}

.foro .conoce .col-sm-6 {
    height: 300px;
}

.foro .conoce p {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    color: #24356a;
    position: absolute;
    /*width: 50%;*/
    /*height: 50%;*/
    margin: auto;
    top: 25%;
    left: 10px;
    bottom: 25%;
    right: 10px;
}

.foro .conoce p::after {
    content: '';
    display: block;
    height: 2px;
    width: 140px;
    background-color: #1b3f82;
}

.foro .conoce img {
    width: 100%;
    height: auto;
}


/* CONOCE-PARALLAX */
.foro .conoce-parallax {
    height: 400px;
}

.foro .conoce-parallax .container p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 28px;
    color: #f8f8fa;
    text-align: center;
}

.foro .conoce-parallax .container a {
    text-decoration: none!important;
    position: absolute;
    text-align: center;
    width: 400px;
    height: 50px;
    right: 0;
    left: 0;
    margin: 0 auto;
    margin-top: 25px;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    color: #171718;
    background-color: #00b82b;
    border-radius: 8px;
    line-height: 50px;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
}

.foro .conoce-parallax .container a:hover {
    background-color: #00d231;
}




/* PROYECTOS */
.foro .proyectos .container p {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    color: #cb0a1d;
}

.foro .proyectos .container p::after {
    content: '';
    display: block;
    height: 2px;
    width: 140px;
    background-color: #cb0a1d;
    margin-top: 10px;
}

.foro .proyectos .container .col-sm-6 {
    margin: 30px 0;
    height: 260px;
    overflow: hidden;
}

.foro .proyectos .container .col-sm-6 img {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    
}











/*** Parallax CSS ****/
.parallax-container {
    position: relative;
    overflow: hidden;
    min-height: 200px;
    height: auto;
}

.parallax {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.parallax img {
    display: none;
    position: absolute;
    bottom: 0;
    min-width: 1920px;
    width: 100%;
    background-position: center;
}

@media(max-width: 1200px) {
    .navbar-brand img {
        margin-top: 7px;
        width: 150px;
        padding: 8px;
    }
    .navbar-nav > li > a {
        padding: 2px 2px;
        font-size: 13px;
    }
    .navbar-nav>li {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media(max-width: 992px) {
    .navbar-brand img {
        margin-top: 20px;
        width: 100px;
        padding: 5px;
    }
    .navbar-nav > li > a {
        padding: 2px 2px;
        font-size: 11px;
    }
    .navbar-nav>li {
        padding-left: 1px;
        padding-right: 1px;
    }
}

@media(max-width: 767px) {
    .wrapper {
        overflow: hidden;
        margin-top: 50px;
    }

    .navbar-brand img {
        margin-top: 7px;
        width: 100px;
        padding: 2px;
    }

    /* BANNER */
    .banner h3 {
        font-family: 'Avian', sans-serif;
        font-size: 20px;
    }

    .banner h1 {
        font-size: 10px;
    }


    /* NAVBAR */
    .navbar {
        min-height: 50px;
    }

    .navbar-nav {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        float: none;
    }

    .navbar-nav>li {
        height: auto;
        padding: 0;
        max-width: 200px;
        margin: 0 auto;
    }

    .navbar-nav>li>a {
        transform: none;
        padding: 2px 0;
    }


    /* CONOCENOS */
    .conocenos h1 {
        font-size: 26px;
    }

    .conocenos .text {
        font-size: 14px;
    }


    /* PROGRAMAS */
    .programas h1 {
        font-size: 26px;
    }


    /* AFILIADOS */
    .afiliados .heading {
        font-size: 26px;
    }

    .afiliados .bottom-note {
        font-size: 14px;
    }


    /* SERVICIOS */
    .servicios h1 {
        font-size: 26px
    }

    .servicios p {
        font-size: 14px;
    }


    /* BLOG */
    .blog h1 {
        font-size: 26px;
    }


    /* CONTACTO */
    .contacto h1 {
        font-size: 26px;
    }

    .contacto .row {
        display: block;
    }

    .contacto .row > [class*='col-'] {
        display: block;
        padding: 0;
    }

    .contacto .col-sm-12 {
        padding: 0;
    }

    .contacto .col-xs-5 {
        position: relative;
        width: 100%;
        right: 0;
        bottom: 0;
        margin-top: 20px;
    }

    .contacto .container .contact-form::after {
        display: none;
    }
}