@import 'https://fonts.googleapis.com/css?family=Quicksand';
@import 'https://fonts.googleapis.com/css?family=Montserrat';

@font-face {
    font-family: 'AvianBold';
    src: url(fonts/AvianBold.ttf);
}

@font-face {
    font-family: 'Avian';
    src: url(fonts/avian.ttf);
}

/* GENERAL STYLES */
a {
    outline: none;
}

.wrapper {
    overflow: hidden;
    margin-top: 80px;
}

.vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}

.spacing {
    padding: 100px 10px;
}

.light-spacing {
    padding: 50px 10px;
}

.heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    padding: 10px 15px;
    display: inline-block;
    margin-bottom: 40px;
}

.text {
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
    font-weight: 600;
    line-height: 30px;
    color: #7c7d7d;
}

.heading.blue {
    border: 1px solid #24356a;
}

.heading.white {
    border: 1px solid #fff;
}

.heading.red {
    border: 1px solid #bb1112;
}

.white {
    color: #fff;
}

.blue {
    color: #24356a;;
}

.red {
    color: #bb1112;;
}

.no-margin {
    margin: 0;
}

/* VIDEO */
.video .modal-dialog {
    margin: 0;
    width: 100%;
    text-align: center;
}

.video .modal-content {
    background: transparent;
    box-shadow: none;
    border: 0;
    max-width: 970px;
    width: 100%;
    margin: 50px auto;
}

.video iframe {
    width: 90%;
    height: 400px;
    max-height: 100%;
    max-width: 100%;
    border: 0;
}

.video button {
    height: 60px;
    width: 236px;
    line-height: 60px;
    color: #fff;
    font-size: 20px;
    background-color: #2c508c;
    border: 0;
    max-width: 100%;
}

.video button:hover {
    background-color: #24356a;
}


/* NAVBAR */
.navbar {
    min-height: 80px;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 0;
}

.navbar .email-icon {
    margin-right: 10px;
}

.navbar-brand {
    padding-top: 0;
}

.navbar-brand img {
    margin-top: 2px;
    width: 150px;
    padding: 8px;
}

.navbar .navbar-nav {
    height: 80px;
    float: none;
    display: inline-block;
    vertical-align: top;
}

.navbar .top-logo img {
    position: relative;
    padding: 5px;
    height: 50px;
    top: 20%;
}

.navbar .container-fluid {
    max-width: 1170px;
}

.navbar-nav {
    text-align: center;
}

.navbar-nav > li {
    height: 80px;
    vertical-align: middle;
}

.navbar-nav .dropdown-menu > li {
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
    color: #103271!important;
    -webkit-transition: color 300ms ease, border 300ms ease;
    -moz-transition: color 300ms ease, border 300ms ease;
    transition: color 300ms ease, border 300ms ease;
}

.navbar-nav .dropdown-menu > li.active > a,
.navbar-nav .dropdown-menu > li:hover > a {
    background-color: transparent!important;
    color: #c1181a!important;
}

.navbar-nav > li > a {
    padding: 5px 10px;
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    display: block;
    color: #103271!important;
    border: 1px solid transparent;
    -webkit-transition: color 300ms ease, border 300ms ease;
    -moz-transition: color 300ms ease, border 300ms ease;
    transition: color 300ms ease, border 300ms ease;
}

.navbar-nav .email-icon::after {
    background-size: contain!important;
    position: absolute;
    display: block;
    content: '';
    height: 20px;
    width: 20px;
    right: -20px;
    top: 20%;
}

.navbar-nav .email-icon::after {
    background: url(img/icons/mail.png) no-repeat center center;
}

.navbar-nav > li.active > a,
.navbar-nav > li:hover > a {
    background-color: transparent!important;
    color: #c1181a!important;
}

.navbar-nav > li.active > a {
    border: 1px solid #c1181a;
}

/* BANNER */
.index .banner .carousel .item {
    height: calc(100vh - 80px);
    overflow: hidden;
}

.index .banner .carousel .img-container {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    max-width: 100%;
}

.index .banner .carousel .item .banner-bg {
    position: relative;
    min-height: 100%;
    min-width: 100%;
    max-width: none;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

.index .banner .container {
    height: calc(100vh - 80px);
}

.index .banner .logo {
    margin-bottom: 40px;
    max-width: 100%;
}

.index .banner h1 {
    font-family: 'AvianBold', sans-serif;
    font-size: 40px;
    margin-top: 0;
}

.index .banner h3 {
    font-family: 'Avian', sans-serif;
    font-size: 24px;
}

/* CONOCENOS */
.index .conocenos .text {
    max-width: 730px;
    margin: 0 auto;
}

.index .conocenos .divider {
    border-bottom: 1px solid #24356a;
    margin: 0 auto;
    max-width: 930px;
    margin-top: 50px;
}

/* AFILIADOS */
.index .afiliados div[class*=col-] {
    padding: 15px 10px;
}

.index .afiliados .item {
    width: 100%;
}

.index .afiliados .carousel-control.left,
.index .afiliados .carousel-control.right {
    background-image: none;
}

.index .afiliados .carousel-control {
    width: 50px;
    color: #24356a;
}

.index .afiliados .top-note {
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
    font-weight: 700;
    text-shadow: 0 1px 0;
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 1px solid #bb1113;
    margin: 40px 0px;
}

/* SERVICIOS */
.index .servicios .img-container {
    max-width: 272px;
    margin: 0 auto;
    height: 250px;
    padding-left: 15px;
    padding-right: 15px;
}

.index .servicios .img-container,
.index .servicios .img-container img,
.index .servicios p {
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
}

.index .servicios .img-container img {
    margin-bottom: 10px;
}

.index .servicios img.hover {
    position: absolute;
    top: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    opacity: 0;
    -webkit-transform: translateZ(0);
}

.index .servicios p {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}

.index .servicios .img-container:hover {
    background-color: rgba(255, 255, 255, 0.76);
}

.index .servicios .img-container:hover p {
    color: #24356a;
}

.index .servicios .img-container:hover img.hover {
    opacity: 1;
}

/* BLOG */
.index .blog .carousel-control {
    background-image: none;
    width: 50px;
}

.index .blog .carousel-control.left {
    left: -50px;
}

.index .blog .carousel-control.right {
    right: -50px;
}

.index .blog .carousel-control.left::after,
.index .blog .carousel-control.right::after {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.index .blog .carousel-control.left::after {
    content: url(img/blog/left-arrow.png);
}

.index .blog .carousel-control.right::after {
    content: url(img/blog/right-arrow.png);
}

.index .blog .carousel-caption {
    position: relative;
    left: 0;
    right: 0;
    bottom: auto;
    text-align: left;
    text-shadow: none;
    font-family: 'Quicksand', sans-serif;
    line-height: 24px;
}

.index .blog div[class*=col-] {
    padding: 5px;
}

.index .blog .img-container {
    overflow: hidden;
    width: 100%;
    height: 270px;
    position: relative;
}

.index .blog .img-container img {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    max-width: none;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.index .blog .post-date {
    padding: 5px 0px;
    display: inline-block;
    min-width: 120px;
    background-color: #24356a;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    margin: 10px 0;
}

.index .blog .post-title {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 10px;;
}

.index .blog .post-title a {
    text-decoration: none!important;
    color: inherit!important;
}

.index .blog .post-excerpt {
    font-size: 18px;
}

/* CONTACTO */
.index .contacto {
    background: url(img/contacto/bg.png) no-repeat center center;
    background-size: cover;
}

.index .contacto .col-sm-6:first-child {
    padding-left: 0;
}

.index .contacto .col-sm-6:nth-child(2) {
    padding-right: 0;
}

.index .contacto input[type=text],
.index .contacto input[type=email],
.index .contacto select,
.index .contacto textarea {
    border: 1px solid #24356a;
    margin-bottom: 15px;
    width: 100%;
    min-height: 45px;
    padding-left: 15px;
    background-color: transparent;
    font-size: 15px;
}

::-webkit-input-placeholder {
    color: rgba(20,49,82,.8);
}

:-moz-placeholder { /* Firefox 18- */
    color: rgba(20,49,82,.8);  
}

::-moz-placeholder {  /* Firefox 19+ */
    color: rgba(20,49,82,.8);  
}

:-ms-input-placeholder {  
    color: rgba(20,49,82,.8);  
}

.index .contacto input,
.index .contacto textarea,
.index .contacto select {
    font-family: 'Montserrat', sans-serif;
    outline: none;
}

.index .contacto select {
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    font-weight: 400;
    min-height: auto;
    padding-top: 11px;
    padding-bottom: 11px;
    margin-bottom: 0;
}

select::-ms-expand {
    display: none;
}

select:-moz-focusring { 
    color: transparent;
    text-shadow: 0 0 0 #000; 
}

.index .contacto label {
    position: relative;
    display: inherit;
    margin: 0;
    margin-bottom: 15px;
}

.index .contacto label::after {
    content: '';
    background: url(img/icons/select.png)no-repeat center center;
    background-size: cover;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 15px;
    width: 15px;
    height: 8.25px;
    pointer-events: none;
}

.index .contacto textarea {
    padding-top: 10px;
    resize: none;
}

.index .contacto input[type=submit] {
    border: 0;
    height: 38px;
    width: 92px;
    border-radius: 10px;
    background-color: #24356a;
    color: #fdfdfd;
}

.index .contacto .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.index .contacto .row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.index .contacto .container .contact-form {
    position: relative;
}

.index .contacto .container .contact-form::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: -60%;
    height: 1px;
    width: 100%;
    background-color: #24356a;
}

.index .contacto p {
    margin: 0;
    font-size: 16px;
}

.index .contacto p.city {
    font-weight: 700;
    position: relative;
}

.index .contacto p>a {
    color: #24356a;
    text-decoration: none!important;
}

.index .contacto p.city::before {
    content: '';
    display: block;
    background: url(img/icons/marker.png) no-repeat center center;
    background-size: contain;
    position: absolute;
    top: 2px;
    left: -20px;
    height: 18px;
    width: 18px;
}

.index .contacto .text-right a {
    display: inline-block;
    width: 45px;
    height: 45px;
}

.index .contacto .text-right img {
    width: 100%;
}

.index .contacto .col-xs-5 {
    margin-top: 20px;
}

/* FOOTER */
footer .container {
    height: auto;
}

footer .footer-top::after {
    position: absolute;
    content: '';
    display: block;
    background-color: #3b549a; 
    height: 1px;
    width: 35%;
    right: 0;
}

footer .footer-top .left .footer-logo img {
    width: 100%;
    height: auto;
    padding: 5px;
    margin-left: -25%;
}

footer .footer-top .left p {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #676666;
    margin-top: 20px;
}

footer .footer-top .center {
    height: auto;
}

footer .footer-top .center .links-container {
    height: auto;
}

footer .footer-top .center .social {
    height: auto;
}

footer .footer-top .center .links-container .links {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #2c508c;
    margin-top: 8px;
}

footer .footer-top .center .links-container .links a {
    text-decoration: none!important;
}

footer .footer-top .center .social img {
    margin-top: 20px;
}

footer .footer-top .right {
    height: auto;
}

footer .footer-top .right .mark-img {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #24356a;
}

footer .footer-top .right .mark-img::before {
    position: absolute;
    content: '';
    display: inline-block;
    background: url(img/cc-foro/icons/mark.png) no-repeat center center;
    height: 25px;
    width: 20px;
    left: -10px;
}

footer .footer-top .right .address {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #24356a;
}

footer .footer-top .right .address a {
    text-decoration: none!important;
}


.footer-rights {
    background-color: rgba(33, 33, 33, 0.78);
}

.footer-rights p {
    margin: 0;
    padding: 10px 0;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 14px;
}

.footer-rights a {
    color: #e3e3e3;
    text-decoration: none!important;
}

.footer-rights a:hover,
.footer-rights a:focus {
    color: #d3d3d3;
}

/* MAPA */
.googleMap {
    height: 350px;
}




/* FORO */
/* BANNER */
.foro .banner {
    height: calc(100vh - 80px);
}

.foro .banner .carousel .carousel-inner .item .img-container {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    max-width: 100%;
}

.foro .banner .carousel .carousel-inner .item .img-container img {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    max-width: none;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

.foro .banner .carousel .carousel-inner .item .container {
    height: calc(100vh - 80px);
}

.foro .banner .carousel .title {
    height: 40%;
    overflow: hidden;
}

.foro .banner .carousel .title p {
    position: relative;
    font-family: 'Avian', sans-serif;
    font-weight: 700;
    font-size: 28px;
    color: #fcf9f9;
    text-align: center;
    margin: 0px 25px;
    top: 80%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}

.foro .banner .carousel .logo-img-container {
    text-align: center;
    height: 60%;
    overflow: hidden;
}

.foro .banner .carousel .logo-img-container img {
    position: relative;
    top: 0;
    height: 100%;
    max-width: 100%;
    padding-bottom: 50px;

}


/* CONOCE */
.foro .conoce .conoce-title {
    height: 300px;
}

.foro .conoce .video-side {
    height: 300px;
}

.foro .conoce .conoce-title p {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    color: #24356a;
    position: absolute;
    /*width: 50%;*/
    /*height: 50%;*/
    margin: auto;
    top: 25%;
    left: 10px;
    bottom: 25%;
    right: 10px;
}

.foro .conoce p::after {
    content: '';
    display: block;
    height: 2px;
    width: 140px;
    background-color: #1b3f82;
}

.foro .conoce .col-sm-6 .image-container {
    position: relative;
    height: 250px;
    max-width: 100%;
    overflow: hidden;
}

.foro .conoce .col-sm-6 .image-container img {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

.foro .conoce .col-sm-6 .image-container::after {
    position: absolute;
    top: 0;
    content: '';
    height: 100%;
    width: 100%;
    background: url(img/cc-foro/icons/play.png) no-repeat center center;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
}

.foro .conoce .col-sm-6 .image-container:hover::after {
    background: url(img/cc-foro/icons/red-play.png) no-repeat center center;
}


/* CONOCE-PARALLAX */
.foro .conoce-parallax {
    height: 400px;
}

.foro .conoce-parallax .container p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 28px;
    color: #f8f8fa;
    text-align: center;
}

.foro .conoce-parallax .container a {
    text-decoration: none!important;
    position: absolute;
    text-align: center;
    width: 400px;
    height: 50px;
    right: 0;
    left: 0;
    margin: 0 auto;
    margin-top: 25px;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    color: #171718;
    background-color: #00b82b;
    border-radius: 8px;
    line-height: 50px;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
}

.foro .conoce-parallax .container a:hover {
    background-color: #00d231;
}


/* PROYECTOS */
.foro .proyectos .container .title {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    color: #cb0a1d;
}

.foro .proyectos .container .title::after {
    content: '';
    display: block;
    height: 2px;
    width: 140px;
    background-color: #cb0a1d;
    margin-top: 10px;
}

.foro .proyectos .container .col-sm-6 {
    margin: 30px 0;
    height: auto;
    overflow: hidden;
}

.foro .proyectos .container .col-sm-6 img {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

.foro .proyectos .container .row .img-container {
    position: relative;
    height: 260px;
    width: 500px;
    max-width: 100%;
    overflow: hidden;
}

.foro .proyectos .container .row .desc {
    margin-top: 10px;
    padding: 0px 10px;
}

.foro .proyectos .container .row .desc p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #f9f9f9f9;
}

.foro .proyectos .container .left-side {
    margin: 0 auto;
    margin-left: 0;
}

.foro .proyectos .container .right-side {
    margin: 0 auto;
    margin-right: 0;
}

.foro .proyectos .container .row .img-container::after {
    position: absolute;
    top: 0;
    content: '';
    height: 100%;
    width: 100%;
    background: url(img/cc-foro/icons/play.png) no-repeat center center;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
}

.foro .proyectos .container .row .img-container:hover::after {
    background: url(img/cc-foro/icons/red-play.png) no-repeat center center;
}


/* HISTORIAS */
.foro .historias-parallax {
    min-height: 300px;
}

.foro .historias-parallax .col-sm-6 {
    min-height: 150px;
}

.foro .historias-parallax .right-side a {
    text-decoration: none!important;
    position: absolute;
    text-align: center;
    width: 250px;
    top: 30%;
    right: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #24356a;
    background-color: #ffffff;
    border-radius: 8px;
    line-height: 60px;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
}

.foro .historias-parallax .right-side a:hover {
    background-color: #cccccc;
}

.foro .historias-parallax .left-side p {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: #163e81;
    margin-top: 10%;
}

.foro .historias-parallax .left-side p::after {
    content: '';
    display: block;
    height: 2px;
    width: 140px;
    background-color: #1b3f81;
    margin-top: 10px;
}






/*** Parallax CSS ****/
.parallax-container {
    position: relative;
    overflow: hidden;
    min-height: 200px;
    height: auto;
}

.parallax {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.parallax img {
    display: none;
    position: absolute;
    bottom: 0;
    min-width: 1920px;
    width: 100%;
    background-position: center;
}

@media(max-width: 1200px) {
    .navbar-brand img {
        margin-top: 7px;
        width: 120px;
        padding: 8px;
    }
    .navbar-nav > li > a {
        padding: 2px 2px;
        font-size: 13px;
    }
    .navbar-nav>li {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media(max-width: 992px) {
    .navbar-brand img {
        margin-top: 20px;
        width: 100px;
        padding: 5px;
    }
    .navbar-nav > li > a {
        padding: 2px 1px;
        font-size: 10px;
    }
    .navbar-nav>li {
        padding-left: 1px;
        padding-right: 1px;
    }
}

@media(max-width: 767px) {
    /* WRAPPER */
    .wrapper {
        overflow: hidden;
        margin-top: 50px;
    }


    /* NAVBAR */
    .navbar {
        min-height: 50px;
    }

    .navbar .navbar-nav {
        width: 100%;
        height: auto;
        margin-left: 0;
        margin-right: 0;
        float: none;
    }

    .navbar .navbar-nav > li {
        height: auto;
        padding: 0;
        max-width: 200px;
        margin: 0 auto;
    }

    .navbar .navbar-nav > li > a {
        transform: none;
        padding: 2px 0;
    }

    .navbar .navbar-nav .email-icon::after {
        display: none;
    }

    .navbar .navbar-brand img {
        margin-top: 7px;
        width: 100px;
        padding: 2px;
    }


    /* FOOTER */
    footer .container {
        height: auto;
    }

    footer .footer-top::after {
        display: none;
    }

    footer .footer-top .left {
        height: auto;
        margin-bottom: 50px;
    }

    footer .footer-top .left .footer-logo {
        text-align: center;
    }

    footer .footer-top .left .footer-logo img {
        width: 60%;
        height: auto;
        padding: 5px;
        margin-left: 0;
        margin: 0 auto;
    }

    footer .footer-top .left p {
        font-size: 14px;
        margin-top: 25px;
    }

    footer .footer-top .center {
        height: auto;
        margin-bottom: 50px;
    }

    footer .footer-top .center .links-container {
        height: auto;
        padding-left: 5px;
    }

    footer .footer-top .center .social {
        height: auto;
    }

    footer .footer-top .center .links-container .links {
        font-size: 14px;
        margin-top: 8px;
    }

    footer .footer-top .center .links-container .links a {
        text-decoration: none!important;
    }

    footer .footer-top .center .social {
        text-align: center;
    }

    footer .footer-top .center .social img {
        margin-top: 15px;
        margin-bottom: 15px;
        height: 50px;
    }

    footer .footer-top .right {
        height: auto;
        margin-top: 0;
    }

    footer .footer-top .right .mark-img {
        font-size: 16px;
        margin-left: 10px;
    }

    footer .footer-top .right .mark-img::before {
        left: 0;
    }

    footer .footer-top .right .address {
        font-size: 14px;
    }

    footer .footer-top .right .address a {
        text-decoration: none!important;
    }


    /* INDEX */
    /* BANNER */
    .index .banner h1 {
        font-size: 28px;
        margin-top: 0;
    }

    .index .banner h3 {
        font-size: 20px;
    }

    /* CONOCENOS */
    .index .conocenos h1 {
        font-size: 26px;
    }

    .index .conocenos .text {
        font-size: 14px;
    }

    /* PROGRAMAS */
    .index .programas h1 {
        font-size: 26px;
    }

    /* AFILIADOS */
    .index .afiliados .heading {
        font-size: 26px;
    }

    .index .afiliados .bottom-note {
        font-size: 14px;
    }

    /* SERVICIOS */
    .index .servicios h1 {
        font-size: 26px
    }

    .index .servicios p {
        font-size: 14px;
    }

    /* BLOG */
    .index .blog h1 {
        font-size: 26px;
    }

    /* CONTACTO */
    .index .contacto h1 {
        font-size: 26px;
    }

    .index .contacto .row {
        display: block;
    }

    .index .contacto .row > [class*='col-'] {
        display: block;
        padding: 0;
    }

    .index .contacto .col-sm-12 {
        padding: 0;
    }

    .index .contacto .col-xs-5 {
        position: relative;
        width: 100%;
        right: 0;
        bottom: 0;
        margin-top: 20px;
    }

    .index .contacto .container .contact-form::after {
        display: none;
    }


    /* FORO */
    /* BANNER */
    .foro .banner {
        height: calc(100vh - 50px);
    }

    .foro .banner .carousel .carousel-inner .item .container {
        height: calc(100vh - 50px);
    }

    .foro .banner .carousel .title {
        height: 45%;
    }

    .foro .banner .carousel .title p {
        font-size: 24px;
        top: 80%;
    }

    .foro .banner .carousel .logo-img-container {
        height: 55%;
    }

    /* CONOCE */
    .foro .conoce p {
        font-size: 24px;
        margin-left: 30px;
        margin-right: 30px;
    }

    /* CONOCE-PARALLAX */
    .foro .conoce-parallax .container p {
        font-size: 24px;
        margin-left: 30px;
        margin-right: 30px;
    }

    .foro .conoce-parallax .container a {
        width: 300px;
        height: 50px;
        font-size: 16px;
    }

    /* PROYECTOS */
    .foro .proyectos .container p {
        font-size: 24px;
        margin-left: 30px;
        margin-right: 30px;
    }

    .foro .proyectos .container .col-sm-6 .left-side {
        margin-top: -30px;
    }

    .foro .proyectos .container .left-side {
        margin: 0 auto;
    }

    .foro .proyectos .container .right-side {
        margin: 0 auto;
    }

    /* HISTORIAS */
    .foro .historias-parallax .col-sm-6 {
        text-align: center;
    }

    .foro .historias-parallax .right-side a {
        font-size: 16px;
        position: relative;
        padding: 15px 30px;
    }

    .foro .historias-parallax .left-side p {
        font-size: 24px;
        display: inline-block;
        margin: 0 auto;
    }


    @media(max-width: 480px) {
        /* FORO */
        /* BANNER */
        .foro .banner {
            height: calc(100vh - 50px);
        }

        .foro .banner .container .carousel .carousel-inner .item {
            top: 60%;
            margin-left: 30px;
        }

        .foro .banner .container .carousel .carousel-inner .item p {
            font-size: 12px;
        }

        .foro .banner .container .carousel .indicators .carousel-indicators {
            margin-left: 30px;
        }

        .foro .banner .container .carousel .indicators .carousel-indicators li {
            height: 16px;
            width: 16px;
            margin: 0 2px;
        }

        /* CONOCE */
        .foro .conoce .conoce-title {
            height: 150px;
        }

        .foro .conoce .video-side {
            height: 200px;
        }

        .foro .conoce .conoce-title p {
            font-size: 16px;
        }


        /* CONOCE-PARALLAX */
        .foro .conoce-parallax {
            height: 300px;
        }

        .foro .conoce-parallax .container p {
            font-size: 16px;
        }

        .foro .conoce-parallax .container a {
            width: 180px;
            height: 40px;
            font-size: 10px;
            line-height: 40px;
        }


        /* PROYECTOS */
        .foro .proyectos .container p {
            font-size: 16px;
        }

        .foro .proyectos .container p::after {
            width: 80px;
        }


        /* HISTORIAS */
        .foro .historias-parallax {
            min-height: 200px;
        }

        .foro .historias-parallax .col-sm-6 {
            min-height: 100px;
        }

        .foro .historias-parallax .right-side a {
            width: 180px;
            left: 0;
            right: 0;
            margin: 0 auto;
            font-size: 12px;
            line-height: 40px;
        }

        .foro .historias-parallax .left-side p {
            font-size: 18px;
        }

        .foro .historias-parallax .left-side p::after {
            width: 80px;
        }
    }